.rounded-image img {
    border-radius: 400px;
    display: block;
    width: 15%;
}

.image4fish{
   
    width: 10%;
}

h1{
    text-align: center;
    color: chocolate;
}

h2{
    text-align: center;
    color: cadetblue;
}

.row{
    display: 1px;
}

.column{
    flex: 33.33%;
    padding: 5em;
}

.articleMargin{
    margin-top: 200px !important;
}


.allarticleMargin{
    margin-top: 200px !important;
}

h3{
    text-align: center;
    color: cadetblue;
}

label{
    text-align: center;
    color: chocolate;
}

.contact-me{
    text-align: center;
    color: chocolate;
}

h5{
    color: cadetblue;
    
}

h4{
    
    color: chocolate;
}

.aboutleMargin{
    margin-top: 200px !important;
}

.image{
    padding-left: 2em;
}

.navbar-brand{
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
}

h5{
    margin-right: 6cm;

}


