.rounded-image img {
    border-radius: 400px;
    display: block;
    width: 100%;
}

.image4fish img{
    width: 100%;
}

h1{
    text-align: center;
    color: chocolate;
}

h2{
    text-align: center;
    color: cadetblue;
}

.row{
    display: 1px;
}

.column{
    flex: 33.33%;
    padding: 5em;
}

.articleMargin{
    margin-top: 200px !important;
}


.allarticleMargin{
    margin-top: 200px !important;
}

h3{
    text-align: center;
    color: cadetblue;
}

label{
    text-align: center;
    color: chocolate;
}

.contact-me{
    text-align: center;
    color: chocolate;
    padding-left: 5cm;
}

h5{
    color: cadetblue;
    
}

h4{
    
    color: chocolate;
}

.aboutleMargin{
    margin-top: 200px !important;
}

.image img {
    width: 100%;
}

.navbar-brand{
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
}
.text-center {
    text-align: center;
}

.contact-form{
    padding-left: 5cm;
    
}

h5{
    text-align: center;
    color: chocolate;
}

